<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">File Uplod</h3>
        </div>
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-md-6">
            

                    <form role="form" method="post" action="#" id="#">
                      <div class="form-group files">
                        <label>Upload Your File </label>
                        <input type="file" class="form-control" multiple="">
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary my-4">Upload</button>
                      </div>
                    </form>
                  
              </div>
              
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>
</div>